.ConfigPage {
    background-color: #282c34;
    width: calc(100% - 20px);

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;

    font-family: Consolas, monospace;
    font-weight: bolder;
    font-size: 24px;
}

.ConfigPage p {
    margin: 0;
    color: rgb(235,241,241);
}

.ConfigPage a {
    color: rgb(55,170,207);

}

.ConfigPage .ConfigPage_TextArea {
    width: 100%;
    aspect-ratio: 3/1;
}

.ConfigPage .ConfigPage_TextArea textarea {
    width: 100%;
    aspect-ratio: 3/1;
}

.ConfigPage .Button {
    width: 20vw;
}