.LayerSelector {
    display: flex;
    flex-direction: column;
}
.LayerSelector > .LayerSelectorColorRow {
    flex: 4;
}
.LayerSelector > .PatternSelector {
    flex: 8;
}

.LayerSelectorColorRow {
    display: flex;
}
.LayerSelectorColorRow > .LayerSelectorColorDisplay {
    flex: 2;
}
.LayerSelectorColorRow > .LayerSelectorColorSpacer {
    flex: 1;
}
.LayerSelectorColorRow > .LayerSelectorColorSelector {
    flex: 8;
}