.WritingComponent {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}
.WritingComponent > .WritingComponentBanner {
    width: 5%;
}
.WritingComponent > .WritingComponentCursorEndHitbox {
    flex: 1;
    min-width: 1px;
}
.WritingComponent > .WritingComponentNewline {
    width: 100%;
    height: 0px;
}

.WritingComponentDirection_LeftToRight {
    flex-direction: row;
}

.WritingComponentDirection_RightToLeft {
    flex-direction: row-reverse;
}
