.RecentBanners {
    display: flex;
    flex-direction: column;
}
.RecentBanners > .RecentBannersHeader {
    aspect-ratio: 20/1;
}
.RecentBanners > .RecentBannersScrollBox {
    flex: 4
}

.RecentBannersHeaderArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.RecentBannersHeaderArea > * {
    height: calc(100% - 4px);
    margin: 2px 5px;
}
.RecentBannersHeaderArea > .Button {
    aspect-ratio: 1/2;
}
.RecentBannersHeaderArea > .Button > * {
    margin: 0;
}

.RecentBannersScrollBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    align-content: start;
}
.RecentBannersScrollBox > * {
    aspect-ratio: 1/2;
    height: calc(2/27*100vh);
}