.TitleBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.TitleBar > .Text, .TitleBar > .Button, .TitleBar > a {
    height: calc(100% - 4px);
    margin: 2px 5px;
}
.TitleBar > .TitleBarSpacer {
    flex: 1;
}
.TitleBar > .Button > * {
    margin: 0;
}

.TitleBar .Button, .TitleBar a {
    aspect-ratio: 5 / 2;
}

.TitleBarDropdown {
    visibility: hidden;
    position: relative;
    z-index: 1000;
    background-color: rgb(64,80,80);
}
.TitleBarDropdown > .Button {
    width: 100%;
}
.Button:hover > .TitleBarDropdown {
    visibility: visible;
}
.TitleBarDropdownActive {
    visibility: visible;
}

@media (max-aspect-ratio: 1/1) {
    .TitleBar > .TitleBarSpacer {
        flex: none;
        width: 100%;
        height: 0;
    }

    .TitleBar > .Text, .TitleBar > .Button, .TitleBar > a {
        height: calc(50% - 2px);
        margin: 1px 5px;
    }
}