.App {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
.App > .AppTitleBar {
    aspect-ratio: 64/2;
}
.App > .AppWritingEditor {
    aspect-ratio: 16/2;
}
.App > .AppBannerSelect {
    flex: 1;
}

@media (max-aspect-ratio: 1/1) {
    .App > .AppTitleBar {
        aspect-ratio: 36/4;
    }
    .App > .AppWritingEditor {
        aspect-ratio: 8/4;
    }
}

.AppBannerSelectScrollBox {
    flex: 12;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


@media (max-aspect-ratio: 1/1) {
    .AppBannerSelect {
        overflow-y: scroll;
    }

    .AppBannerSelectScrollBox {
        flex-direction: column;
        min-height: 200vw;
    }
}

.AppBannerEditor {
    aspect-ratio: 16/12;
}

.AppBannerEditorSection {
    aspect-ratio: 16/12;
}

.AppSection {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.AppHistorySection {
    min-width: 70vh;
}
.AppHistorySection > .AppRecentBanners {
    flex: 5.5;
}
.AppHistorySection > .AppSavedWritings {
    flex: 11.5;
}

@media (max-aspect-ratio: 1/1) {
    .AppHistorySection {
        min-width: 0;
        flex: 1;
    }
}