.LayerStack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.LayerStackBackgroundSquare > * {
    width: 100%;
}

.LayerStackBackgroundSquare img {
    aspect-ratio: 1/1;
}