.App {
    background-color: #282c34;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.AppHeader {
    display: flex;
    flex-wrap: wrap;

    color: white;
    margin: 0px 10px;
}

.App > .AppHeader { 
    justify-content: space-evenly;
}

.AppHeaderSpacer {
    flex: 1;
}

.AppHeader > * {
    margin: 5px;
    border: 0;
    padding: 0;
}
.AppHeader > button {
    background-color: transparent;
    display: flex;
    height: 20px;
}

@media (max-width: 782px) {
    .AppAnvilDetails {
        visibility: hidden;
        width: 0px;
    }
}

.AppWritingComponent {
    aspect-ratio: 16/2;
}

.AppScreenshotZone {
    background-color: #282c34;
}

@media (max-width: 782px) {
    .AppWritingComponent {
        aspect-ratio: 8/4;
    }
}

.AppBannerSelect {
    flex: 12;

    display: flex;
    flex-direction: row;
}


@media (max-width: 782px) {
    .AppBannerSelect {
        flex-direction: column;
        overflow-y: scroll
    }
}

.AppFullBannerEditor {
    aspect-ratio: 18/12;
    min-height: 100%;
}

.AppFBEFlexbox {
    display: flex;
}

.AppBannerEditor {
    aspect-ratio: 12/12;
    min-height: 100%;
}

.AppBannerDisplay {
    aspect-ratio: 1/2;
    min-width: 0px;
}

.AppHistorySection {
    flex: 1;

    display: flex;
    flex-direction: column;
    min-width: 33vw;
}

.AppRecentBanners {
    aspect-ratio: 20/4;
}

.AppSavedWritings {
    flex: 1;
}


@media (max-width: 782px) {
    .AppSavedWritings {
        min-height: 25vh;
    }
}