.AboutPage {
    background-color: #282c34;
    min-height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
}

.AboutPageRow {
    margin: 0;
    padding: 0;
    min-height: 40px;
}

.AboutPage a {
    font-size: 0px;
}